.controllerPage{
    width: 100%;
    height: max-content;
    margin: 10px 0;
    display: flex;
    background-color: rgb(26, 22, 22);
    padding: 50px 0;
}

.controllerContainer{
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
}

.controllerContainer h1{
    font-size: 1.5rem;
    color: blanchedalmond;
}

.buttonList{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controllerContainer button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px 10px;
    cursor: pointer;
    font-weight: 400;
}

.record{
    background-color: green;

}

.record:hover{
    background-color: rgb(4, 117, 4);
}

.stop{
    background-color: red;

}
.stop:hover{
    background-color: rgb(196, 28, 28);
}

.pause{
    background-color: darkgray;

}
.pause:hover{
    background-color: rgb(139, 134, 134);
}

.resume{
    background-color: green;
}
.resume:hover{
    background-color: rgb(9, 121, 9);
}

.recordStat{
    display: flex;
    align-items: center;
}

.recordStat .lightStatus{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rgb(80, 79, 79);
    margin-right: 10px;
}