.previewPage{
    width: 100%;
    height: max-content;
    display: flex;
    padding: 20px 20px;
}

.previewContainer{
    margin: auto;
    width: max-content;
    height: max-content;
    background-color: blanchedalmond;
}

