.scenesPage{
    width: 100%;
    background-color: black;
    height: max-content;
    display: flex;
}

.scenesContainer{
    margin: auto;
    background-color: rgb(27, 27, 27);
    padding: 30px 20px;
    width: 50%;
    border-radius: 30px;
    min-width: max-content;
}

.title{
    margin-bottom: 20px;
}

.title h2{
    font-size: 1.5rem;
    color: white;
    color: blanchedalmond;
}

.list{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.list li{
    list-style:none;
    margin: 0 20px;
}

.sceneNameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sceneNameContainer span{
    font-size: 10px;
    color: rgb(206, 199, 199);
}

.title{
    display: flex;
    justify-content: space-between;
}

.sturiomode{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sturiomode h3{
    margin-left: 10px;
    padding: 10px;
}